



/*animation hover card menu*/
.cardMenu:hover .check{
  width: 20%;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in ;
  padding: 10px;
}
.cardMenu:hover .check i{
  transition: all 0.5s ease-in ;
  -o-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
}
/*fin animation*/

@keyframes cardchargement {
  0% {
    transform: translate3d(0,40px,0);
  }
  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
/*Card chargement pagemenu */
.cardChargement {
  opacity: 0;
  animation: cardchargement 1s forwards;
}
.animationDelay1{
  animation-delay: 1s;
}
.animationDelay2{
  animation-delay: 2s;
}
.animationDelay3{
  animation-delay: 2.5s;
}
