footer{
    display: flex;
    flex-direction: column;
    width: 88%;
    background-color: grey;
    color: white;
    padding: 6%;
       
    @media screen and (min-width: $mobile) {
        height: 150px;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 88%;

        @media screen and (min-width: $tablet) {
            height: 100px;
            flex-direction: row;
            padding: 2%;
            flex-wrap: wrap;
            width: 96%;
            border-radius: 0;
            
        }     
    }

    h2{
        font-family: Shrikhand;
        margin: 0;

        @media screen and (min-width: $tablet) {
            margin-left: 50%;
            margin-right: 50%;
            font-size: 2em;
        }
    }

    .TailleFooterTexteIcon{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: white;
        margin-top: 10px;
        font-size: 20px;

        i{
            margin-right: 10px;
            font-size: 16px;
        }

        p{
            margin:0;
        }

        @media screen and (min-width: $tablet) {
            margin: auto;;
            
        }
    }
    
    
        
}


