.footerPage{
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 6%;
    color: white;
    margin-top: 75px;


    i{
        margin-right: 10px;
        font-size: 16px;
    }

    p{
        margin:0;
    }

    h1{
        font-family: Shrikhand;
        margin: 0;
    }
    
}

.TailleFooterTexteIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    font-size: 20px;
 }